html{
  background-color: rgb(34, 10, 65);
}

.container-fluid{
  background-color: rgb(34, 10, 65);
}

input[type="text"]{
  background: transparent;
  color:white;
}

input[type="text"]:focus{
  background: transparent;
  color:white;
}
